<div class="row">
  <div class="col-lg-6">
    <h2>Employee listing</h2>
  </div>
  <div class="col-lg-6 add-button">
    <button mat-raised-button color="warn" routerLink="/add">
      Add Employee
    </button>
  </div>
</div>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Filter"
    #input
    autocomplete="off"
  />
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="CivilStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>CivilStatus</th>
    <td mat-cell *matCellDef="let element">{{ element.civilStatus }}</td>
  </ng-container>

  <ng-container matColumnDef="DateOfAdmission">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DateOfAdmission</th>
    <td mat-cell *matCellDef="let element">
      {{ element.dateOfAdmission | date: "dd/MM/yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Sex">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
    <td mat-cell *matCellDef="let element">{{ element.sex }}</td>
  </ng-container>

  <ng-container matColumnDef="Phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
    <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <a class="pointer edit" routerLink="edit/{{ i }}">
        <mat-icon>edit</mat-icon>
      </a>
      <a class="pointer delete" (click)="deleteEmployee(i)">
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
